@charset "UTF-8";
body {
	font-family: "Helvetica Neue" sans-serif;
	color: black;
	padding-left: 3em;
    padding-right: 3em;
    padding-top: 20em;
	margin-bottom:100px;
	display:block;
    background-color:#131B23;
}

ul.navbar {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 6em;
	right: 2.5em;
	width: 35em
}
/*NAVBAR IMG CSS*/
ul.navbar2 {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 1em;
	left: 3em;
	width: 80em
}

div.table {
	width: 600px;
	margin: 0 auto;
}
div.leftCol {
	float: left;
	width: 50%;
}
div.rightCol {
	float: right;
	width: 50%;
}
/*FOOTER CSS*/
div.footer {
	position:fixed;
	bottom:0;
	right: 0;
	left: 0;
	padding: 1rem;
	
	background-color:#FCFFF7;
	text-align: center;
}
/*BUTTON CSS*/

.imgbtn
{
    cursor: pointer;
}
.button {
    background-color: #878C8F; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Helvetica Neue';
    font-weight:100;
}
.button:hover {
    background-color: #FCF7FF; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Helvetica Neue';
    font-weight:100;
}

/*DROPDOWN CSS
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


/* Dropdown Content (Hidden by Default) */
.MacDrop-Content {
    display: none;
    position: absolute; 
    top: 28.7%; 
    left: 100%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.MacDrop-Content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.MacDrop-Content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.MacDrop:hover .MacDrop-Content {
    display: block;
    
}

.imovie-Content {
    display: none;
    position: absolute; 
    top: 57%; 
    left: 100%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.imovie-Content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.imovie-Content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.imoviedrop:hover .imovie-Content {
    display: block;  
}

/*14.15*/
.photoshopDrop-Content {
    display: none;
    position: absolute; 
    top: 71.15%; 
    left: 100%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.photoshopDrop-Content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.photoshopDrop-Content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.photoshopDrop:hover .photoshopDrop-Content {
    display: block;  
}

/*14.15*/
.GeneralDrop-Content {
    display: none;
    position: absolute; 
    top: 0.4%; 
    left: -100%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.GeneralDrop-Content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.GeneralDrop-Content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.GeneralDrop:hover .GeneralDrop-Content {
    display: block;  
}

/*14.15*/
.OnlineDrop-Content {
    display: none;
    position: absolute; 
    top: 0.4%; 
    left: 100%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.OnlineDrop-Content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.OnlineDrop-Content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.OnlineDrop:hover .OnlineDrop-Content {
    display: block;  
}




.indent
{
    margin-left: 40px;
    font-family: 'Helvetica Neue';
    font-weight:100;
}

.TitleHead
{
    font-family: "Helvetica Neue";
    font-weight: 100
}
.subTitleHead
{
    font-family: 'Helvetica Neue';
    font-weight:100;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.LargeBorder
{
    
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    background-color: #FCFFF7;
}
.a
{
    font-family: 'Helvetica Neue';
    font-weight:100;
}